body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir", "Montserrat";
	font-size: 2.5vw;
}
h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background: #006080;
	margin: 0;
	max-height: 20vw;
	font-weight: normal;
	text-transform: uppercase;
	padding: 1vw 0;

}
.selected {
	background: #006080;
	color: white;
	font-weight: bold;
}

.square {
	background: purple;
	float: left;
	border-radius: 12%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

.easySquare {
	width: 45%;
	padding-bottom: 45%;
	margin: 2.5%;
}
.medSquare {
	width: 30%;
	padding-bottom: 30%;
	margin: 1.666%;
}
.hardSquare {
	width: 22.5%;
	padding-bottom: 22.5%;
	margin: 1.111%;
}

#container {
	max-width: 90%;
	margin: 0 auto;
}

button {
	vertical-align: middle;
	text-transform: uppercase;
	height: 110%;
	font-weight: 700;
	color: #006080;
	letter-spacing: 0.25vw;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
	padding-top: 0.2vw;
}
button:hover {
	color: white;
	background: #006080;
}

.settingsLabelA {
	float: left;
	vertical-align: middle;

}
.settingsLabelB {
	float: right;
	vertical-align: middle;
}

#targetRGB {
	font-size: 200%;
}
#stripe {
	background: white;
	border: none;
	padding: 0vw;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
#newGame {
	font-size: 200%;
	text-align: center;
	margin: 1vw;
}
#newGame:hover
{
	border-color: gold;
}
#HUD {
	color: #a09300;
	margin: 0 auto;
	padding: 0;
}

table {
	table-layout: fixed;
	width: 100%;
	border: 0;
	padding: 0;
	border-collapse: collapse;
}

#HUD td {
	width: 33%;
}
input {
	width: 70%;
	font-size: 100%;
}

.label {
	font-size: 110%;
	letter-spacing: 0.45vw;
}
#highScoresDisplay {
	
}

#feedback {
	max-width: 70%;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
	color: white;
	margin: 0 auto;
	padding: 0;
}

#points {
	vertical-align: middle;
	color: grey;
	font-size: 500%;
	margin-bottom: 1vw
	padding: 0; 
}
.playerName {
	vertical-align: middle;
	font-size: 200%;
}

#database {
	display: none;
}
canvas {
    background: black;
    display: block;
    width: 	1;
    height: 1;
    padding: 0;
    margin: 0;
}

.glowButton {
  background-color: #000000;
  -webkit-border-radius: 10px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: #5cd65c; box-shadow: 0 0 0.2vh #0080a0; }
  50% { background-color: #33cc33; box-shadow: 0 0 1vh #006080; }
  100% { background-color: #29a329; box-shadow: 0 0 0.2vh#004060; }
}

@-moz-keyframes glowing {
  0% { background-color: #5cd65c; box-shadow: 0 0 0.2vh #0080a0; }
  50% { background-color: #33cc33; box-shadow: 0 0 1vh #006080; }
  100% { background-color: #29a329; box-shadow: 0 0 0.2vh#004060; }
}


@-o-keyframes glowing {
  0% { background-color: #5cd65c; box-shadow: 0 0 0.2vh #0080a0; }
  50% { background-color: #33cc33; box-shadow: 0 0 1vh #006080; }
  100% { background-color: #29a329; box-shadow: 0 0 0.2vh#004060; }
}

@keyframes glowing {
  0% { background-color: #5cd65c; box-shadow: 0 0 0.2vh #0080a0; }
  50% { background-color: #33cc33; box-shadow: 0 0 1.5vh #006080; }
  100% { background-color: #29a329; box-shadow: 0 0 0.2vh#004060; }
}

.glowButton {
  -webkit-animation: glowing 1200ms infinite;
  -moz-animation: glowing 1200ms infinite;
  -o-animation: glowing 1200ms infinite;
  animation: glowing 1200ms infinite;
}